@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
  }
}

body {
  padding: 1rem;
}
